<div class="container-fluid">
  <div class="about">
    <h1>About Practice Mate</h1>

    <p>
      Practice Mate is a business started by a former nurse. Passionate about healthcare and improving peoples lives, Practice Mate was started with the vision of imporving healthcare for everyone, especially the people who work in it.
    </p>

    <p>We aim to make spending time with the patients the main priority for doctors and nurse instead of paperwork. Practice Mate aims to make the paperwork that accompanys running a successful healthcare operation easy and seemless. So instead of trying
      to find the right folder and keep on top of tasks, Practice Mate will keep everything in check.
    </p>

    <p>Call it your nurses personal assistant.
    </p>
  </div>
</div>
