<div class="container-fluid">
  <div class="jumbotron">
    <h1>Practice Mate</h1>
    <p>Your mate in the treatment room</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/pages/about" role="button">Learn more</a>
    </p>
  </div>
</div>
